@model List<ENT.ent_KATEGORI>
@{
    ViewBag.Title = "KategoriList";
    Layout = "~/Areas/Yonetim/Views/Shared/_Layout.cshtml";
}


<div class="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Kategori Tablosu</h3>
            <div class="box-tools">
                <a href="@Url.Action("KategoriForm", "Kategori")" class="btn btn-success btn-sm"><i class="fa fa-plus"></i> Yeni Kategori Oluştur</a>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th style="width: 10px">SN.</th>
                        <th>Kategori İsim</th>
                        <th style="width: 80px">İşlem</th>
                    </tr>
                    @{int s = 1;}
                    @foreach (ENT.ent_KATEGORI item in this.Model)
                    {
                        <tr>
                            <td>@s</td>
                            <td>@item.kategori_ad</td>
                            <td>
                                <a href="@Url.Action("KategoriForm", "Kategori", new { kategori_id = item.kategori_id })" class="btn btn-info btn-sm" title="İncele"><i class="fa fa-search"></i></a>
                            </td>
                        </tr>
                        s++;
                    }
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
            @ViewBag.pagination
        </div>
    </div>
</div>

